<div class="mb-sm">
  <%= question.user.email %>
</div>

<div class="mb-sm">
  ID: <%= question.user.id %>
</div>

<div class="mb-sm">
  <%= question.body %>
</div>

<div class="text-sm question-footer">
  <div class="text-grey">
    <%= l(question.created_at, format: :short) %>
  </div>

  <div>
  
  <%# <% if question.user.email == current_user.email %>
    <% if question.user == current_user %>
    <%= link_to fa_icon('pencil'), edit_question_path(question), title: 'Змінити запитання' %>
    <%= button_to fa_icon('trash-o'), question_path(question), method: :delete, title: 'Видалити запитання' %>
    <% end %>
  </div>
</div>