<div class="container">
  <p class="mt">
    <%= link_to "Створити нове питання", new_question_path, class: 'button button-main' %>
  </p>

  <p class="mt">
    <%= render 'form', question: @question %>
  </p>
</div>

<div class="container mt-sm">
  <h2 class="title-lg">
    <%= @questions.count %>
    <%= inclination(@questions.count, 'запитання', 'запитань') %>
  </h2>
</div>

  <% @questions.each do |question| %>
    <div class="mt-sm container">
      <%= render question %>   <%# <%= link_to "#{question.body}", "/questions/#{question.id}" %>
                               <%# <%= link_to "#{question.body}", question_path(question.id) %>
    </div>
  <% end %>