<% if user_signed_in? %>
        <a href="#" class="button"> 
            Ласкаво просимо, <%= current_user.email %>
        </a>
        <%= button_to "Вихід", destroy_user_session_path, method: :delete, class: "button" %>
        <%= link_to "Редагувати", edit_user_registration_path, class: "button" %>
<% else %>
    <%= link_to "Вхід", new_user_session_path, class: "button" %>

    <%= link_to "Реєстрація", new_user_registration_path, class: "button" %>
<% end %>